<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Context Sync"
    Manufacturer="Midtown Technology Group LLC"
    Version="$(var.Version)"
    UpgradeCode="{5C895B16-98D7-58DF-9402-9582668CCB47}"
    InstallerVersion="500"
    Scope="perMachine">

    <SummaryInformation Description="Context Sync installer" Manufacturer="Midtown Technology Group LLC" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Context Sync is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLROOT" Name="Midtown Technology Group">
        <Directory Id="INSTALLFOLDER" Name="Context Sync" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Context Sync" Level="1">
      <ComponentGroupRef Id="ToolComponents" />
    </Feature>

    <ComponentGroup Id="ToolComponents" Directory="INSTALLFOLDER">
      <Component Id="ToolExecutableComponent" Guid="*">
        <File Id="ToolExecutable" Source="$(var.BinDir)\work-context-sync.exe" KeyPath="yes" />
      </Component>
      <Component Id="PathComponent" Guid="{FA972E74-D098-5D44-9959-E62617EEE501}">
        <CreateFolder />
        <Environment
          Id="ToolPathEntry"
          Action="set"
          Name="PATH"
          Part="last"
          Permanent="no"
          System="yes"
          Value="[INSTALLFOLDER]" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
